<head>
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap');
<style>

* {
    background-color: #292929;
}

a:link {
    color:#997599;
}

a:visited {
    color:#8d5351;
}

a:hover{
    color:#626262;
}

body {
	background-repeat: repeat;
font-family: 'M PLUS 1', sans-serif;
text-shadow: 2px 2px #2a2a2a;
    color: #ffffa5;
    text-align: center;
    font-size: 32px;
}

p {
font-family: 'M PLUS 1', sans-serif;
text-shadow: 2px 2px #2a2a2a;
    color: #ffffa5;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    font-size: 32px;
}

h1 {
font-family: 'M PLUS 1', sans-serif;
text-shadow: 2px 2px #2a2a2a;
    color: #6b83ac;
    font-size: 64px;
    text-align: center;
}

h2 {
font-family: 'M PLUS 1', sans-serif;
text-shadow: 2px 2px #2a2a2a;
    color: #9e7a5a;
    font-size: 32px;
    text-align: center;
}

h3 {
font-family: 'M PLUS 1', sans-serif;
text-shadow: 2px 2px #2a2a2a;
color: red;
    font-size: 32px;
    text-align: center;
	animation: color-change 2s 20;
}

@keyframes color-change {
	0% { color: blue; }
	30% { color: red; }
	60% { color: blue; }
}

h4 {
font-family: 'M PLUS 1', sans-serif;
text-shadow: 2px 2px #2a2a2a;
color: yellow;
    font-size: 24px;
    text-align: center;
	animation: color-change-2 2s 20;
}

@keyframes color-change-2 {
	0% { color: yellow; }
	40% { color: purple; }
	80% { color: yellow; }
}

li:not(:last-child) {
	margin-bottom: 5px;
}

.badge {
  margin: 5px;
  border-style: outset;
  border-width: 2px;
  border-color: black;
}

#footer {
	bottom: 0;
	text-align: center;
}

</style>
</head>
